@import url("/src/fonts/font-faces.css");
@import url("/src/components/header.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
}

main .page-title {
    background-image: url("/src/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 95%);
    text-align: center;
}

main .page-title h1 {
    color: rgba(255, 217, 0, 1);
    background: linear-gradient(15deg, rgba(255, 116, 0, 1) 0%, rgba(255, 217, 0, 1) 40%, rgba(255, 217, 0, 1) 60%, rgba(255, 116, 0, 1) 100%);
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(3rem, 10vw, 5rem);
    font-family: 'DarkDimension', sans-serif;
    z-index: 1;
}


main .page-title h4 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: rgba(255, 217, 0, 1);
}

main .video {
    height: 100vh;
    display: flex;
    padding: 0 5vw;
    justify-content: space-between;
    align-items: center;
}
main .video iframe{
    width: 45%;
    aspect-ratio: 16/9;
}
main .video .side-text {
    width: 50%;
}

main .video .side-text h1 {
    color: rgb(58, 0, 161);
    background: linear-gradient(15deg, rgba(58, 0, 161, 1)20%, rgba(102, 0, 255, 1) 50%, rgb(37, 0, 102) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(2rem, 7vw, 4rem);
    font-family: 'DarkDimension', sans-serif;
    z-index: 1;
}

main .video .side-text p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: black;
}


@media only screen and (max-width: 450px){
    main .video .side-text {
        width: 100%;
    }
    main .video {
        height:auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0 7vw;
        gap: 7vh;
        justify-content: center;
        align-items: center;
    }
    main .video iframe{
        width: 100%;
        aspect-ratio: 3/2;
    }
  }
